<div class="card base mb-resp mb-4 hvr-grow-shadow">
    <div class="">
      <img src="./assets/photo1.jpg" alt="" class="card-img img-fluid m-0 p-0">
    </div>
    <div class="card-body px-3 py-3">
      <a href="#">
        <h1 class="m-0 Pricing_Table_Mockup mb-2">Pricing Table Mockup</h1>
      </a>
      <div class="clearfix mb-2">
        <p class="text-muted _12_December_2016 float-right m-0">1000 downloads</p>
        <p class="text-muted _12_December_2016 float-left m-0">12/10/2018</p>
      </div>
      <p class="_12_December_2016 text-justify  m-0 text-muted">
        this is the best product you will ever see i wish you all the luck with it and it's going to cost you an arm and an leg but
        don't worry about that
      </p>
    </div>
    <div class="card-footer">
        <app-button text = 'Descover more' size = "sm" (click)="navigate()"></app-button>
    </div>
</div>