<div class="social p-2">
    <div class="container d-flex justify-content-end ">
    <div class="websites d-flex justify-content-around align-item-center">
        <div class="icon1">
            <img src="./assets/social1.png" alt="">
        </div>
        <div class="icon2 mx-2">
            <img src="./assets/social2.png" alt="">
        </div>
        <div class="icon3">
            <img src="./assets/social3.png" alt="">
        </div>
        <div class="icon4 ml-2">
            <img src="./assets/social4.png" alt="">
        </div>
    </div>
    </div>
</div>