<div class="hero text-center d-flex align-items-center">
    <!-- <div class="container">
        <h1 class="hero__text">You will find everything</h1>
        <app-button text = 'Descover More'></app-button>
    </div> -->
    <div class="container">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col-sm-7">
                <h1 class="hero__text">You will find everything you need</h1>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-6">
                <app-button text ='Descover More' [size] = "'lg'"></app-button>
            </div>
        </div>
    </div>
</div>


<!-- d-flex flex-column align-items-center justify-content-center -->