<div class="card">
    <div class="card__header row">
        <div class="profile col-sm-4">
            <div class="profile__img">
            </div>
            <div class="profile__name">
                Abdulfattah
            </div>
        </div>
        <div class="card__title col-sm-4">
            Good website
        </div>
        <div class="card__rate col-sm-4 text-right">
            <img src="../../../assets/5.png" alt="">
        </div>
    </div>
    <div class="card__body my-2">
        <div class="card__body__message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, consequatur! Perspiciatis inventore eligendi aliquid deserunt nesciunt, rerum suscipit modi dignissimos, laboriosam iste rem explicabo consectetur error id, ea debitis! Facere.
        </div>
    </div>
    
    <div class="card__footer">
        <div class="card__footer__date">
            2/10/2020
        </div>
    </div>
</div>