<div class="text-center my-4 aboutUs p-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="Popular_Products mb-3">WHY YOU SHOULD CHOOSE US </h4>
                <p class="text mb-4">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="col-sm-3 d-flex flex-column justify-content-center align-item-center">
                <div class="img">
                    <img src="./assets/icon1.png" alt="">
                </div>
                <div class="title my-3">
                    <h4>FIRST TITLE</h4>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, maiores.</p>
                </div>
            </div>
            <div class="col-sm-3 d-flex flex-column justify-content-center align-item-center">
                <div class="img">
                    <img src="./assets/icon2.png" alt="">
                </div>
                <div class="title my-3">
                    <h4>SECOND TITLE</h4>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, maiores.</p>
                </div>
            </div>
            <div class="col-sm-3 d-flex flex-column justify-content-center align-item-center">
                <div class="img">
                    <img src="./assets/icon3.png" alt="">
                </div>
                <div class="title my-3">
                    <h4>THIRD TITLE</h4>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, maiores.</p>
                </div>
            </div>
            <div class="col-sm-3 d-flex flex-column justify-content-center align-item-center">
                <div class="img">
                    <img src="./assets/icon4.png" alt="">
                </div>
                <div class="title">
                    <h4>FOTRH TITLE</h4>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, maiores.</p>
                </div>
            </div>
        </div>
    </div>
</div>
