@import '../../../scss/variables';

.form-control {
    box-shadow: 0px 0px 0px 1px rgba(127, 127, 127, 0.2);
    z-index: 144;
    height: 45px;
  }
  

  .btn-secondary {
      background-color: $color-primary;
  }