<footer id="footer" class="text-white Mt-40 wow fadeIn" data-wow-duration="1s" data-wow-offset="280">
    <svg class="img-fluid svg3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1600px"
      height="4px">
      <path fill-rule="evenodd" fill="rgb(255, 95, 41)" d="M0.000,-0.000 L1600.000,-0.000 L1600.000,4.000 L0.000,4.000 L0.000,-0.000 Z"
      />
    </svg>
    <div class="container py-4">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold pb-2">
              <a>support</a>
            </li>
            <li class="pb-2">
              <a href="#" class="LF hvr-grow">Base</a>
            </li>
            <li class="pb-2">
              <a href="#" class="LF hvr-grow"> FAQ</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> API Docs</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> Terms of Use</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Press Kit</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold pb-2">
              <a>about</a>
            </li>
            <li class="  pb-2">
              <a href="#" class="LF hvr-grow">Pricing</a>
            </li>
            <li class="pb-2">
              <a href="#" class="LF hvr-grow"> Customers</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> Company</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> Careers</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold pb-2">
              <a>integration</a>
            </li>
            <li class="  pb-2">
              <a href="#" class="LF hvr-grow">Shopify</a>
            </li>
            <li class="pb-2">
              <a href="#" class="LF hvr-grow"> Magento</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> PayPal</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> Wordpress</a>
            </li>
            <li>
              <a href="#" class="LF hvr-grow"> Zapier</a>
            </li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold pb-2">
              <a>contact us</a>
            </li>
            <li class="  pb-2">
              <a href="#" class="LF hvr-grow">Kodelite LLC</a>
            </li>
            <li class="pb-2">
              <a href="#" class="LF hvr-grow"> d.b.a EditionGuard</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow">1000 North West Street</a>
            </li>
            <li class="LF pb-2">
              <a href="#" class="LF hvr-grow"> Wilmington, DE 19801</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4">
          <ul class="list-unstyled">
            <li class="HF font-weight-bold pb-2">
              <a>subscribe to our newsletter</a>
            </li>
            <li>
              <p class="LF pb-2 text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, alias?</p>
            </li>
            <li>
              <input type="text" class="form-control Mb-20" placeholder="Enter email address">
            </li>

            <li class="mt-2">
              <a href="#" class="btn btn-danger">
                submit
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <app-social-media></app-social-media>
  </footer>
