<div class="popular-item text-center p-2" (click)="navigate()">
    <div class="popular-item__image">
        <img src="./assets/wallets.png" alt="">
    </div>
    <div class="popular-item__colors d-flex justify-content-center align-items-center">
        <div class="color-1"></div>
        <div class="color-2 mx-2"></div>
        <div class="color-3"></div>
        <div class="color-4"></div>
    </div>
    <div class="popular-item__name my-3">
        item's name
    </div>
    <div class="popular-item__price my-3">
        100$
    </div>
    <div class="description my-3">
        Lorem, ipsum dolor.
    </div>
</div>