<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top base">
    <div class="container">

      <a href="#" class="navbar-brand hvr-shadow-radial">
        <img src="./assets/logo-small.png" alt="">
        <p class="navbar__logo">shopping</p>
      </a>

      <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link hvr-underline-from-left dropdown-toggle" (click)="toggleShopProducts()">
                Shop Products 
            </a>
          </li>

          <li class="nav-item m-auto p-0 d-none d-md-block">
            <a class="nav-link Shape_3 ">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link hvr-underline-from-left dropdown-toggle" (click)="toggleCollections()">
                Shop Collections
            </a>
          </li>
          <li class="nav-item m-auto p-0 d-none d-md-block">
            <a class="nav-link Shape_3 ">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link hvr-underline-from-left">
                What’s news
            </a>
          </li>
          <li class="nav-item m-auto p-0 d-none d-md-block">
            <a class="nav-link Shape_3">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link hvr-underline-from-left">
                Contact Us
            </a>
          </li>
          <li class="nav-item m-auto p-0 d-none d-md-block">
            <a class="nav-link Shape_3">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link hvr-underline-from-left">
              Login
            </a>
          </li>
        </ul>

        <div class="form-inline">
          <button class="btn singup hvr-round-corners signupButton">Sign Up</button>
        </div>
      </div>
    </div>
  </nav>

  <products-list *ngIf="displayShopProducts"></products-list>
  <collnections-list *ngIf="displayCollections"></collnections-list>


  