<div class="text-center my-4 feedback p-4">
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="Popular_Products mb-3">What our clients say about us</h4>
            <p class="text mb-4">Here the most important features that we offer</p>
            <img src="../../../assets/5.png" alt="">
            <p>100 reviews</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 my-2" *ngFor="let comment of comments">
            <comment></comment>
        </div>
    </div>
    </div>
</div>

